body {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.btn-human,
.btn-computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  display: none;
}
